@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Inertia Progress Bar */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to right, #0ea5e9, #3b82f6, #8b5cf6);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0; 
  width: 100%; 
  height: 4px;
  box-shadow: 0 0 10px #0ea5e9, 0 0 5px #0ea5e9; 
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #0ea5e9, 0 0 5px #0ea5e9;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
}

#nprogress .spinner-icon {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: solid 3px transparent;
  border-top-color: #0ea5e9;
  border-left-color: #0ea5e9;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
